/*--------------------------------------------------------------
# Highlights
--------------------------------------------------------------*/
$light-green: #519872;
$dark-green: #3B5249;
$dark-ruby: #832d2d;
$light-ruby: #b73535; 

/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
$dark-black: #121212;
$black: #191919;
$light-black: #1B1A1A;
$white-bg: #ffffff;

/*--------------------------------------------------------------
# Iconography / Fonts
--------------------------------------------------------------*/
$white: #ffffff;
$grey: #6F6C6C;
$dark-grey: #474343;